{% extends 'authbase.html' %}
{% load static %}
{% block title %}Login|Personal Budgeting Tools{% endblock title %}
{% block content %}

<div class="limiter">
    <div class="container-login100">
        <div class="wrap-login100">
            <div class="login100-pic js-tilt" style="width: 400px;">
                <img src="{% static 'dist/img/budget.jpg' %}">
            </div>

            <form class="login100-form validate-form" method="POST">
               <!-- <input type="hidden" name="csrfmiddlewaretoken" value="IpwP86govD5Y1yVzQC519ojadELigjMO0haWMIQD29BK6E6vKtz6rIeShIAUJCcp">-->
               {% csrf_token %}
                <span class="login100-form-title">
                   Personal Budgeting Tools
                                </span>
                <span class="error-msg"> 
                    
            
                    
                    
                    </span>
                    <p>Please Login to see this App</p>
                    
                    
                </span>
                <div class="wrap-input100 validate-input">
                    <input class="input100" id="id_username" name="email" 
                    type="text" placeholder="Email">
                    <span class="focus-input100"></span>
                    <span class="symbol-input100">
                        <i class="fa fa-envelope" aria-hidden="true"></i>
                    </span>
                </div>

                <div class="wrap-input100 validate-input" >
                    <input class="input100" type="password" id="id_password" name="password" placeholder="Password">
                    <span class="focus-input100"></span>
                    <span class="symbol-input100">
                        <i class="fa fa-lock" aria-hidden="true"></i>
                    </span>
                </div>
                
                <div class="container-login100-form-btn">
                    <button class="login100-form-btn" type="submit">
                        Login
                    </button>
                   

                </div>

                <div class="text-center p-t-12">
                    <span class="txt1">
                        Forgot
                    </span>
                    <a class="txt2" href="#">
                        Username / Password?
                    </a>
                </div>
                <div class="text-center font-weight-bold p-t-12">
                    <span class="txt1">
                        Don't Have An Account? 
                    </span>
                    <a class="txt2 text-bold" href="{% url 'signup' %}">
                       Signup
                    </a>
                </div>

                
            </form>
        </div>
    </div>
</div>

<script>
    function validateForm() {
        var email = document.getElementById("id_username").value;
        var password = document.getElementById("id_password").value;

        var emailRegex = /^[^\s@]+@[^\s@]+\.[^\s@]+$/;

        // Check if email is empty or not valid
        if (email === "" || !emailRegex.test(email)) {
            alert("Please enter a valid email address.");
            return false;
        }

        // Check if password is empty
        if (password === "") {
            alert("Please enter your password.");
            return false;
        }

        return true;
    }
</script>


{% endblock content %}


